<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>

  <!-- Flash message section -->
  <% if (typeof message !== 'undefined') { %>
    <div class="flash-message">
      <%= notice %>
    </div>
  <% } %>
  <script>
    // Set a timer to remove the flash message after 30 seconds
    setTimeout(function() {
      const flashMessage = document.querySelectorAll('.flash-message');
      if (flashMessage) {
        flashMessage.classList.add('fade-out'); // Start fading out
        setTimeout(() => flashMessage.remove(), 1000); // Remove element after fade
        //flashMessage.style.display = 'none'; // Hide the flash message
      }
    }, 30000); // 30,000 milliseconds = 30 seconds
  </script>

  <!-- Login form -->
  <section>
    <form action="/account/login" method="post" class="login-form">
      <div class="form-group">
        <label for="account_email">Email Address:
        <input type="email" id="account_email" name="account_email" placeholder="Enter a valid email address" required>
        </label>
      </div>

      <div class="form-group">
        <label for="account_password">Password:
            <input type="password" id="account_password" name="account_password" required>
        </label>
      </div>

      <button type="submit">Login</button>
    </form>
  </section>

  <!-- Link to registration view -->
  <footer>
    <p>Don't have an account? <a href="/account/register">Register here</a>.</p>
  </footer>
</body>
</html>
