<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css" media="screen"> 
</head>
<body>
    <div class="main-container">
        <section class="hero">
            <div class="container">
                <h1>Welcome to CSE Motors!</h1>
                 <%-/* messages() */%> 
                <div class="hero-content">
                    <div class="hero-text">
                        <h2>DMC DeLorean</h2>
                        <ul>
                            <li>3 Cup holders</li>
                            <li>Superman doors</li>
                            <li>Fuzzy dice</li>
                        </ul>
                        <a href="#" class="btn">Own Today</a>
                    </div>
                    <img src="images/vehicles/delorean-tn.jpg" alt="DMC DeLorean" class="hero-image">
                </div>
            </div>
        </section>

        <section class="content-section">
            <div class="delorean-upgrades">
                <h2>Delorean Upgrades</h2>
                <div class="upgrade-items">
                    <div>
                        <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                        <p>Flux Capacitor</p>
                    </div>
                    <div>
                        <img src="images/upgrades/flame.jpg" alt="Flame Decals">
                        <p>Flame Decals</p>
                    </div>
                    <div>
                        <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                        <p>Bumper Stickers</p>
                    </div>
                    <div>
                        <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                        <p>Hub Caps</p>
                    </div>
                </div>
            </div>

            <div class="delorean-reviews">
                <h2>DMC DeLorean Reviews</h2>
                <div class="review">
                    <p>"So fast it's almost like traveling in time." (4/5)</p>
                </div>
                <div class="review">
                    <p>"Coolest ride on the road." (4/5)</p>
                </div>
                <div class="review">
                    <p>"I'm feeling McFly!" (5/5)</p>
                </div>
                <div class="review">
                    <p>"The most futuristic ride of our day." (4.5/5)</p>
                </div>
                <div class="review">
                    <p>"80's livin and I love it!" (5/5)</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
