<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <section class="hero">
        <div class="container">
            <h1>Welcome to CSE Motors!</h1>
            <img src="images/vehicles/delorean-tn.jpg" alt="DMC DeLorean" class="hero-image">
            <p>DMC DeLorean</p>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice</li>
            </ul>
            <img src="images/site/own_today.png" class="btn" alt="Own Today">
        </div>
    </section>

    <section class="delorean-upgrades">
        <div class="container">
            <h2>Delorean Upgrades</h2>
            <div class="upgrade-items">
                <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <img src="images/upgrades/flame.jpg" alt="Flame Decals">
                <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
            </div>
        </div>
    </section>

    <section class="delorean-reviews">
        <div class="container">
            <h2>DMC DeLorean Reviews</h2>
            <div class="review">
                <p>"So fast it's almost like traveling in time."</p>
                <p>(4/5)</p>
            </div>
            <div class="review">
                <p>"Coolest ride on the road."</p>
                <p>(4/5)</p>
            </div>
            <div class="review">
                <p>"I'm feeling McFly!"</p>
                <p>(5/5)</p>
            </div>
            <div class="review">
                <p>"The most futuristic ride of our day."</p>
                <p>(4.5/5)</p>
            </div>
            <div class="review">
                <p>"80's livin and I love it!"</p>
                <p>(5/5)</p>
            </div>
        </div>
    </section>
</body>
</html>
